* {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.statuscard {
    background-color: #DEF1FF !important;
    width: 100% !important;
    text-align: center !important;
    border-radius: 5px !important;
    color: #4285F4 !important;
    min-height: 30px !important;
    display: flex !important;
    justify-content: center !important;
    font-size: 16px !important;
}

.statuscard:hover {
    background-color: #4285F4 !important;
    color: white !important;
}

.bigimgdiv {
    height: auto !important;
    width: 100% !important;
    border: 1px solid white !important;
    margin-top: 65px !important;
}

.descbox {
    width: 94% !important;
    height: auto !important;
    border: 1px solid white !important;
    margin: auto !important;
    padding: 2px !important;
}

.containerdiv {
    width: 92% !important;
    height: auto !important;
    border: 1px solid white !important;
    margin: auto !important;
    margin-top: 20px !important;
    margin: auto !important;
}

.text {
    color: #012A4A !important;
    font-family: Poppins !important;
    font-size: 30px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.listdiv {
    height: auto !important;
    width: 96% !important;
    border: 1px solid white !important;
    margin: auto !important;
}

.banner {
    width: 98vw !important;
    margin: auto !important;
}

.card {
    height: 200px !important;
    width: 96% !important;
    margin: auto !important;
    border-radius: 10px !important;
    margin-top: 15px !important;
    border: 3px solid blue !important;
}

.card:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px !important;
}

.cardupper {
    height: 70% !important;
    border: 1px solid white !important;
    margin: auto !important;
    width: 100% !important;
    border-radius: 10px 10px 0px 0px !important;
    display: flex !important;
    padding: 10px !important;
    align-items: center !important;
}

.cardlower {
    height: 30% !important;
    border: 1px solid white !important;
    margin: auto !important;
    width: 100% !important;
    border-radius: 0px 0px 10px 10px !important;
    padding: 10px !important;
}

.upper1 {
    width: 100% !important;
    border: 1px solid white !important;
    height: 100% !important;
    border-radius: 10px 0px 0px 0px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
}

.upper2 {
    width: 100% !important;
    border: 1px solid white !important;
    height: 100% !important;
    border-radius: 0px 10px 0px 0px !important;
    text-align: left !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
}

.upper2 * {
    margin-top: 4px !important;
}

.typo {
    color: #000 !important;
    font-family: Poppins !important;
    font-size: 25px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
}

.blue1 {
    width: 20% !important;
    height: 100% !important;
    align-items: center !important;
    font-size: 16px !important;
    padding: 1px !important;
    color: var(--4285-f-4, #4285F4) !important;
}

.blue2 {
    width: 80% !important;
    height: 100% !important;
    align-items: center !important;
    font-size: 16px !important;
    padding: 1px !important;
    border-color: white !important;
    color: var(--4285-f-4, #4285F4) !important;
}

.typocompany {
    color: #000 !important;
    font-family: Poppins !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

.desctext {
    color: #000 !important;
    font-family: Poppins !important;
    font-size: 22px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.pricetypo {
    color: #4285F4 !important;
    text-align: left !important;
    font-family: Poppins !important;
    font-size: 25px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.placetypo {
    color: #000 !important;
    font-family: Poppins !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal !important;
}

.emptypo {
    color: #000 !important;
    font-family: Poppins !important;
    font-size: 15px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: normal !important;
}

.remotediv {
    height: 18px !important;
    width: 100% !important;
    border: 1px solid white !important;
    display: flex !important;
    justify-content: flex-start !important;
    gap: 10px !important;
}

@media (max-width: 700px) {
    .text {
        font-size: 24px !important;
    }
    .card {
        height: 185px !important;
    }
    .blue1 {
        width: 25% !important;
        font-size: 12px !important;
    }
    .blue2 {
        width: 75% !important;
        font-size: 12px !important;
    }
    .cardupper {
        padding: 3px !important;
    }
    .cardlower {
        padding: 3px !important;
    }
    .typo {
        font-size: 20px !important;
    }
    .pricetypo {
        font-size: 15px !important;
    }
    .typocompany {
        font-size: 16px !important;
    }
    .desctext {
        font-size: 18px !important;
    }
    .placetypo {
        font-size: 13px !important;
    }
    .emptypo {
        font-size: 13px !important;
    }
    .remotediv {
        font-size: 14px !important;
    }
    .bigimgdiv {
        margin-top: 65px !important;
    }
    .statuscard {
        font-size: 12px !important;
    }
}

